html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Bellefair;
  src: url('./assets/fonts/Bellefair/Bellefair-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Della_Respira;
  src: url('./assets/fonts/Della_Respira/DellaRespira-Regular.ttf');
  font-weight: 400;
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin phone {
  @media screen and (max-width: 729px) {
    @content;
  }
}

:root {
  --fontB: Bellefair;
  --fontD: Della_Respira;
  --body-color: #fdede0;
  --title-color: #ffead9;
  --text-color: #e6a97e;
  --hover-color: #ffead9;
}

body {
  background-color: var(--body-color);
  transition: 0.5s;
}
section {
  padding: 0 20px;
}

// .main_wrapper {
//   overflow: hidden;
//   // @include tablet() {
//   //   position: relative;
//   //   overflow-x: clip;
//   // }
// }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1290px;
  margin: 0 auto;
  @include tablet() {
    width: 100%;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/img/main.jpg');
  background-repeat: no-repeat;
  transition: all 1s;
  z-index: 10;
  &_title {
    color: var(--title-color);
    font-family: var(--fontD);
    font-style: normal;
    // font-weight: bold;
    font-size: 70px;
    line-height: 120px;
    transition: all 0.5s;
    &:hover {
      color: #992f0f;
      cursor: pointer;
    }
  }
  &_error {
    display: none;
    text-align: center;
    font-style: italic;
    color: var(--title-color);
    font-size: 50px;
    line-height: 50px;
    transition: all 0.5s;
  }

  &_btn {
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    transition: all 0.5s;
    i {
      font-size: 50px;
      color: var(--title-color);
    }
  }
}
// Поисковик:

.search_input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  padding-right: 5px;
  border-radius: 42px;
  border: 2px solid #e6a97e;
  background: #f9f0da;
  outline: none;
  position: relative;
  transition: 0.3s linear;
  &::placeholder {
    font-family: var(--fontB);
    font-size: 20px;
    color: var(--text-color);
  }
}
input:focus {
  width: 300px;
}
.form {
  display: none;
  position: relative;
}
.search_btn {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #e6a97e;
  &:hover {
    cursor: pointer;
  }
}
.fa-xmark {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #e6a97e;
  &:hover {
    cursor: pointer;
  }
}
//

.results {
  padding-top: 100px;
  padding-bottom: 100px;
  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 25px;
      margin-bottom: 25px;
      height: 290px;
      width: 400px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      @include tablet() {
        margin-right: 0;
        width: 100%;
        max-width: 400px;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #e6a97e;
  font-family: var(--fontB);
  font-size: 30px;
  @include tablet() {
    height: 150px;
  }
  .container {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include tablet() {
      flex-direction: column;
      justify-content: center;
      padding-bottom: 31px;
      margin-right: 20px;
    }

    .github {
      display: flex;
      align-items: center;

      @include tablet() {
        margin-top: 35px;
        margin-bottom: 15px;
      }
      p {
        text-decoration: none;
        line-height: 50px;
        color: var(--title-color);
        margin-right: 20px;
        &:nth-child(3) {
          margin-right: 0;
        }
        @include tablet() {
          line-height: 0px;
        }
      }
      &_link {
        color: var(--title-color);
        text-decoration: none;
        line-height: 50px;
        transition: 0.5s;
        &:hover {
          color: var(--hover-color);
          text-decoration: underline;
          transition: 0.2s;
        }
        @include tablet() {
          line-height: 0px;
        }
      }
    }

    .rss {
      margin-left: 19px;
      &_logo {
        width: 150px;
        height: 75px;
      }
      // @include tablet() {
      //   margin-bottom: 15px;
      //   margin-left: 0px;
      // }
      // &_link {
      //   text-decoration: none;
      //   line-height: 50px;
      //   color: var(--title-color);
      //   transition: 0.5s;
      //   &:hover {
      //     color: var(--hover-color);
      //     text-decoration: underline;
      //     transition: 0.2s;
      //   }
      // }
    }
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: black; */
  z-index: 1;
  /* height:100vh;
    width:100vw; */
}

.loader .l_main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 172px;
  height: 128px;
  margin: 0;
  transform: translate(-50%, -50%);
}
.l_square {
  position: relative;
}

.l_square:nth-child(1) {
  margin-left: 0px;
}

.l_square:nth-child(2) {
  margin-left: 44px;
}

.l_square:nth-child(3) {
  margin-left: 88px;
}

.l_square:nth-child(4) {
  margin-left: 132px;
}

.l_square span {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 36px;
  width: 36px;
  border-radius: 2px;
  background-color: #ffffff;
}

.l_square span:nth-child(1) {
  top: 0px;
}

.l_square span:nth-child(2) {
  top: 44px;
}

.l_square span:nth-child(3) {
  top: 88px;
}

.l_square:nth-child(1) span {
  animation: animsquare1 2s infinite ease-in;
}

.l_square:nth-child(2) span {
  animation: animsquare2 2s infinite ease-in;
}

.l_square:nth-child(3) span {
  animation: animsquare3 2s infinite ease-in;
}

.l_square:nth-child(4) span {
  animation: animsquare4 2s infinite ease-in;
}

.l_square span:nth-child(1) {
  animation-delay: 0s;
}

.l_square span:nth-child(2) {
  animation-delay: 0.15s;
}

.l_square span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes animsquare1 {
  0%,
  5%,
  95%,
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  30%,
  70% {
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare2 {
  0%,
  10%,
  90%,
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  35%,
  65% {
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare3 {
  0%,
  15%,
  85%,
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  40%,
  60% {
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}

@keyframes animsquare4 {
  0%,
  20%,
  80%,
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  45%,
  55% {
    transform: translate(-40px, 0px) rotate(-90deg);
  }
}
